# Common Utility Classes for Java

This library provides  several tool classes in different modules.  They help you
build command line/Swing  applications, help parsing cmmand  line input, testing
etc.

## Goal

Goal  of  this  class  library  is  to  share  common  functionality  to  reduce
duplicated boiler plate code. Further goal  is to have no external dependencies.
Only  external  dependencies  are   [JUnit][junit]  and  [Mockito][mockito]  for
testing and [Findbugs][findbugs] annotations to suppress some warnings.

## Usage

Add this <code>&lt;dependency&gt;</code> to your [Maven][maven] pom.xml:

    <dependencies>

        <!-- ... -->

        <dependency>
            <!-- http://weltraumschaf.github.com/commons/ -->
            <groupId>${project.groupId}</groupId>
            <artifactId>MODULE-NAME</artifactId>
            <version>${project.version}</version>
        </dependency>

        <!-- ... -->

    <dependencies>

Available modules (artifact id) are:

- [application](application/index.html)
- [concurrent](concurrent/index.html)
- [config](config/index.html)
- [experimental](experimental/index.html)
- [guava](guava/index.html)
- [jcommander](jcommander/index.html)
- [shell](shell/index.html)
- [string](string/index.html)
- [swing](swing/index.html)
- [system](system/index.html)
- [testing](testing/index.html)
- [time](time/index.html)
- [validate](validate/index.html)

## File Signatures

To receive the keys type:

    $> gpg --keyserver hkp://pool.sks-keyservers.net --recv-keys 45585598

[sonatype]: http://maven.apache.org/guides/mini/guide-central-repository-upload.html
[maven]:    http://maven.apache.org/
[junit]:    http://www.junit.org/
[mockito]:  http://code.google.com/p/mockito/
[findbugs]: http://findbugs.sourceforge.net/
